@model IEnumerable<FinancialPortal.Models.CodeFirst.Transaction>

@{
    ViewBag.Title = "Index";
}

<div id="main-wrapper">


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (Model != null)
    {
        <div class="panel panel-dark">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Basic example</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="MyTable" class="display table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Author.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BankAccount.BankAccountType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionType.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Void)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Void == true)
                                    {
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.Author.FirstName)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.BankAccount.BankAccountType)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.TransactionType.Type)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        <td style="text-decoration:line-through; font-style:italic; color:dimgray;">
                                            @Html.DisplayFor(modelItem => item.Void)
                                        </td>
                                    }
                                    else
                                    {





                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BankAccount.BankAccountType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TransactionType.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Void)
                                        </td>
                                    }
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Void", "Void", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>



@section scripts{
    <script src="~/admin3/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $("#MyTable").DataTable();
    </script>
}